@using Model.EF
@{
    DATAOCREntities db = new DATAOCREntities();
    ViewBag.Title = "Quản lý báo cáo";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<FileMain> fileMains = db.FileMains.OrderByDescending(n => n.file_datecreate).ToList();
}
<link href="~/Content/element.css" rel="stylesheet" />
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px bg-white">
            <table class="table table-bordered table-hover table-striped">
                <tr class="bg-danger text-white">
                    <td>Mã báo cáo</td>
                    <td>Tên công ty</td>
                    <td>Thông tư</td>
                    <td>Hình thức</td>
                    <td>Ngày bắt đầu</td>
                    <td>Ngày kết thúc</td>
                    <td>Ngày tạo</td>
                    <td>Tùy chọn</td>
                </tr>
                @foreach (var item in fileMains)
                {
                    <tr>
                        <td>@item.file_id</td>
                        <td>@item.file_company</td>
                        <td>@item.file_circular</td>
                        <td>@item.file_form</td>
                        <td>@item.file_startday</td>
                        <td>@item.file_endday</td>
                        <td>@item.file_datecreate</td>
                        <td>
                            <a href="/Read/Details?id=@item.file_key"><i class="fa fa-eye">&nbsp;</i></a>
                        </td>
                    </tr>
                }
            </table>

        </div>
    </div>
</div>



